<ion-header>
  <ion-toolbar color="dark"></ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchTitle" ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="searchMovie()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="color: aliceblue ;">
    <div  class="img_box" >
      <img class="imgd" [src]="movieData.imageURL">
    </div>
    <h1>{{ movieData.title }}</h1>
    <p>{{ movieData.description }}</p>
  </div>
</ion-content>
