ion-content{
  --ion-background-color: var(--ion-color-dark);
}
.img_box{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.imgd{
  width: 60%;
  border-radius: 10px;
}
h1{
  color: white;
  margin-left: 20px;
  font-weight: 800;
}
p{
  margin-left: 20px;
  margin-right: 10px;
  color: #c6c6c6;
  font-weight: 300;
}