<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logo-header" src="../../assets/logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="tv"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content padding>
     <!--Liste d'un seul film -->
    <div style="color: aliceblue ;">
    <ion-list>
        <div  class="img_box" >
          <img class="imgd" [src]="movies.images">
        </div>
        <h1>{{ movies.title }}</h1>
        <p>{{ movies.description }}</p>
        <ion-button  routerLink='../tab4/' expand="full" color="weflix-lapis">Regarder maintenant</ion-button>
    </ion-list>
  </div>
  <!--Liste des films -->
  <div class="listefilm" style="color: aliceblue ;"  routerLink='../tab4/'>
    <ion-list>
      <ion-title> LISTE DES FILMS </ion-title>
      <ion-item *ngFor="let movie of moviesList">
          <ion-avatar style="width: 80;height: 50px;">
              <img src="{{movie.images}}">
          </ion-avatar>
          <h2 style="color:white;">{{ movie.title }}</h2>
      </ion-item>
  </ion-list>
  </div>
</ion-content>
